# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.example.json
.idea/
.eslintcache
.db
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# hey-api
src/lib/hey-api/generated/*
openapi-ts-error-*.log

.tanstack