name: Update JS runtime
on:
  workflow_dispatch:

env:
  API_URL: https://start-ui-web-restart.vercel.app/api/rest
  OPEN_API_URL: https://start-ui-web-restart.vercel.app/api/openapi/app/schema

jobs:
  update:
    name: EAS Update
    runs-on: ubuntu-latest
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to this project's Expo account in this repo's secrets. Learn more: https://docs.expo.dev/eas-update/github-actions"
            exit 1
          fi

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.x
          cache: pnpm

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: |
          echo "API_URL: $API_URL"
          echo "OPEN_API_URL: $OPEN_API_URL"
          echo 'API_URL="https://start-ui-web-restart.vercel.app/api/rest"' >> .env
          echo 'OPEN_API_URL="https://start-ui-web-restart.vercel.app/api/openapi/app/schema"' >> .env
          cat .env
          pnpm install

      - name: Publish update
        run: eas update --auto
